div {
	border: 1px solid black;
}

.outer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 800px;
	height: 500px;
	font-size: 0;
}

.row1 {
	display: inline-block;
	height: 200px;
	width: 50%;
}

.row2 {
	display: inline-block;
	height: 300px;
	width: 33.333333%;
}

.green {
	background: forestgreen;
}

.blue {
	background: darkcyan;
}

.grey {
	background: grey;
}

.black {
	background: black;
}

.sand {
	background: gold;
}